<section class='cart-item' data-id='{{id}}'>
  <img src='{{img_s_r_c}}' alt='{{name}}' width='100' height='100' />
  <h6>{{name}} - {{type}}</h6>
   <h6>${{price}}</h6>
  <p>Allergies: {{allergy}}</p>
  <button id='addToCart'>ADD TO CART</button>
</section>
