<section class='cart-item' data-id='{{id}}'>
  <img src='{{imgSRC}}' alt='{{name}}' width='50' height='50' />
  <h6>{{name}} - ${{price}}</h6>
  <p>Allergies: {{allergy}}</p>
  <button id='addToCart'>ADD TO CART</button>
</section>
