<!-- views/ticket-details.handlebars -->
<section class="box ticket-details" data-id="{{id}}">
  <h1 class="title is-4">Ticket #: {{id}}</h1>

  <!-- Date Created -->
  <div class="created-on">
    <h4>Date: {{format_time created_on}}</h4>
  </div>

  <!-- Server Information -->
  <div class="server-info">
    <h4>Server:</h4>
    <p>{{user.username}}</p>
  </div>

  <!-- Items in the Ticket -->
  <div class="ticket-items">
    <h4>Items:</h4>
    {{#each products as |item|}}
      <div class="box cart-item" data-product-id="{{id}}">
        <h6 class="subtitle is-6">{{name}}</h6>
      </div>
    {{/each}}
    <h4>Total: ${{total}}</h4>
  </div>
</section>
