<section class="ticket-details" data-id="{{id}}">
  <h1>Ticket #: {{id}}</h1>

  <!-- Date Created -->
  <div class="created-on">
    <h4>Date: {{created_on}}</h4>
    
  </div>

  <!-- Server Information -->
  <div class="server-info">
    <h4>Server:</h4>
    <p>{{server}}</p>
  </div>

  <!-- Items in the Ticket -->
  <div class="ticket-items">
    <h4>Items:</h4>
    {{#each items as |item|}}
      
        <div class="cart-item" data-product-id="{{item.product_id}}">
          <h6>{{item.name}}</h6>
        </div>
    {{/each}}
  </div>
</section>

